$netpink: #FA7198;
.classify {
    height: 30%;
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%; 
    padding-left: 5%;
    color: #fff;
    font-weight: bold;
    span {
        width: 30%;
        height: 3rem;
        line-height: 3rem; 
        text-align: center;
    }
    .drama {
        margin-right: 2%;       
        background-color: #FFA501;
    }
    .showlist {
        margin-right: 2%;      
        background-color: #FF6666;
    }
    .index {
        background-color: #20C0FB;
    }
}
.totalRecommond {
    height: 20%;
    padding-top: 1rem;
    margin-bottom: .6rem;
    > img {
        vertical-align: middle;
        margin-left: .5rem;
    }
    .recommond {
        margin-left: .5rem;
    }
     .right {
        float: right;
        margin-top: .45rem;
        margin-right: .98rem;
    }
}
.show-content {
    width: 100%;
    position: relative;
    padding: {
        left: 3.5%;
    }
    .col-xs-4 {
        width: 28%;
        float: left;
        position:relative;
    }
    .showItem {
        padding: {
        }
        height: 15.5rem;
        margin-right: 3%;
        margin-bottom: 5%;
        background-color: transparent;
        border-radius: 3px;
        border:1px solid #f2f2f2;
        display: flex;
        flex-direction: column;
        > img {
            width: 100%;
            height: 70%;
            background-size: cover;
        }
        .showInfo {
            margin-top: .5rem;
            .showNum {
                margin-top: .1rem;
                color: #9c9c9c;
            }
        }
    }
}
