ul {
    padding-top: 1rem;
}
li {
    width: 100%;
    height: 3.5rem;
    background-color: #FAFAFA;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    align-items: center;
    img {
        vertical-align: center;
    }
}